{$DOMAIN} {
	encode zstd gzip
	log

	route {
		@auth path /api/auth /api/auth/*
		reverse_proxy @auth {$CONVEX_SITE_URL}

		@bot path /api/bot /api/bot/*
		reverse_proxy @bot {$CONVEX_SITE_URL}

		@convex path /api /api/*
		reverse_proxy @convex {$CONVEX_CLOUD_URL}

		reverse_proxy app:3000
	}
}
